@import url("https://fonts.googleapis.com/css2?family=Tapestry&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background: #2f363e;
}
.container {
  position: relative;
  background: #2f363e;
  /* min-height: 500px; */
  border-radius: 20px;
  border-top-left-radius: 255px;
  border-top-right-radius: 255px;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.75);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.clock {
  position: relative;
  width: 450px;
  height: 450px;
  background: #2f363e;
  border-radius: 50%;
  box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.75);
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 30px;
}
.clock::before {
  content: "";
  position: absolute;
  width: 8px;
  height: 8px;
  background: #2f363e;
  border: 3px solid #fff;
  border-radius: 50%;
  z-index: 100000;
}
.clock span {
  position: absolute;
  inset: 20px;
  color: #fff;
  text-align: center;
  transform: rotate(calc(30deg * var(--i)));
}
.clock span b {
  font-size: 2rem;
  opacity: 0.25;
  font-weight: 600;
  display: inline-block;
  transform: rotate(calc(-30deg * var(--i)));
}
.circle i {
  position: absolute;
  width: 6px;
  height: 50%;
  background-color: var(--cir);
  opacity: 0.75;
  transform-origin: bottom;
  transform: scaleY(0.5);
}
.circle:nth-child(1) i {
  width: 2px;
}
.circle {
  position: absolute;
  width: 300px;
  height: 300px;
  border: 2px solid rgba(0, 0, 0, 0.25);
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  z-index: 10;
}
.circle2 {
  width: 240px;
  height: 240px;
}
.circle3 {
  width: 180px;
  height: 180px;
  z-index: 9;
}
.circle::before {
  content: "";
  position: absolute;
  top: -8.5px;
  height: 15px;
  width: 15px;
  background: var(--cir);
  border-radius: 50%;
  box-shadow: 0 0 20px var(--cir);
}

/* digital clock */
#time {
  margin-bottom: 40px;
  display: flex;
  padding: 10px 20px;
  font-size: 2rem;
  font-weight: 600;
  border: 2px solid rgba(0, 0, 0, 0.5);
  border-radius: 40px;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5),
    inset 5px 5px 20px rgba(255, 255, 255, 0.2),
    inset -5px -5px 15px rgba(0, 0, 0, 0.75);
}
#time div {
  position: relative;
  width: 60px;
  text-align: center;
  color: var(--cir);
}
#time div:nth-child(1)::after,
#time div:nth-child(2)::after {
  content: ":";
  position: absolute;
  right: -4px;
}
#time div:last-child {
  font-size: 0.8rem;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
}
#time div:nth-child(2)::after {
  animation: animate 1s steps(1) infinite;
}
.text {
  position: absolute;
  top: 45%;
  left: -80%;
}
.text h1 {
  text-align: center;
  color: #fff;
  font-weight: 400;
  transform: skewX(40deg) skewY(3deg);
  font-family: "Tapestry", cursive;
}
@keyframes animate {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
}
